*{
  transition: 1s all ease;
}

body {
  background-image: url('assets/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  background-position: center;
}

h1 {
  font-family: 'Kumar One Outline', cursive;
  font-weight: normal;
  font-size: 48px;
  color: white;
  text-shadow: 1px 1px 5px #FF0000;
}

h3 {
  text-align: center;
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}

img {
  width: 100%;
}

select, input, button {
  display: block;
  margin: auto;
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  font-family: 'Muli', sans-serif;
  margin-bottom: 10px;
  outline: none;
}


button {
  cursor: pointer;
  background-color: #2d3436;
  color: white;
}

.timer-container {
  position: relative;
  overflow: hidden;
}

.timer-container > img {
  position: relative;
}

.timer-container > h3 {
  position: relative;
  z-index: 10;
}

.progress {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00b894;
  transition: 1s all ease;
  z-index: 0;
}

#status {
  font-family: 'Muli', sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 2;
  position: relative;
}

.item {
  text-align: center;
  color: white;
  background-color: #2d3436;
  padding: 5px;
  font-family: 'Muli', sans-serif;
}

.list-container {
  overflow-y: auto;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-container, .timer-container, .list-container {
  background-color:#636e72;
  width: 280px;
  height:280px;
  border-radius: 10px;
}
.list-container {
    overflow-y: auto;
}

.pastActivity {
    text-align: center;
    color: white;
    background-color: #2d3436;
    padding: 5px;
    font-family: 'Muli', sans-serif;
}
